body{
    margin: 20px 0px 0px 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.display-flex{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 50px;
}
.half-width img{
    width: 90%;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 60px;
    border-left: 5px solid;
    border-image: linear-gradient(rgb(255, 102, 0),tomato);
    border-image-slice: 1;
    padding-left: 15px;
}
h2{
    font-size: 30px;
    font-weight: 600;
}
.h2-style{
    font-size: 40px;
    font-weight: 900;
}
.button-style{
    text-decoration: none;
    padding: 15px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.section2-h1{
    text-align: center;
}
.section2-style{
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid gray;
}
.section2-style img{
    width: 50%;
}
#section2-div1{
    background-color: #edf5f7;
}
#section2-div2{
    background-color: #ffeeee;
}
#section2-div3{
    background-color: #fff4d6;
}
.section3-img img{
    width: 70%;
}
.footer{
    text-align: center;
    background-color: rgb(22, 20, 20);
    color: white;
    padding: 20px 0px;
}

/* All Background Image */

#section2-bg-img{
    background-image: url(./shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
}
#section3-bg-img{
    background-image: url(./shapes/shape-10.png);
    background-repeat: no-repeat;
    background-size: 150px 350px;
    background-position: right;
}